apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node-app
        image: ashganadel671/todo-list-image
        ports:
        - containerPort: 4000
        env:
          - name: MONGO_URI
            valueFrom:
              secretKeyRef:
                key: mongoDbUrl
                name: "mongo-secret"
      imagePullSecrets:
        - name: regcred
                
